{
    "extends": ["eslint:recommended", "plugin:prettier/recommended"],
    "rules": {
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "object-curly-spacing": ["error", "always"]
      },
      "env": {
        "es6": true,
        "node": true,
        "mocha": true
      },
      "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2018
      }
}